@model Presupuestos.ViewModels.MainViewModel
@using PagedList
@using PagedList.Mvc
@using Presupuestos.ViewModels

@{
    ViewBag.Title = "Pipeline de abastecimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="data-nav" class="BlackText">
<h2>Pipeline de abastecimiento Comercial - Sesión #@Model.documentNumber</h2>
    <!--Searching result labels-->

        @using (Html.BeginForm("Pipeline", "Commercial", FormMethod.Get))
        {
            <div class="form-inline">
                <label>Ejecutivo</label>
                @Html.DropDownListFor(model => model.executive, new SelectList(Model.executiveDropDown, "Value", "Key"), "Todos",
                new { @class = "form-control" })
                <input type="submit" class="btn btn-primary" value="Buscar" />
            </div>
        }

<!--Each message element using BootStrap-->
@if (Model != null)
{
    if (Model.MessageType.Count != 0)
    {
        string value = "out";
        if (Model.MessageType.TryGetValue("Error", out value))
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!Error!</strong> @Model.MessageType["Error"]
            </div>
        }
    }
}
</section>
<hr />
<section id="table" class="BlackText">
    <div class="table-responsive">
        <table class="detail-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Projection.Cliente)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.Presupuesto)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.Producto)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.NumOrdem)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.Sustrato)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.ItemCodeSustrato)</th>
                    <th>@Html.DisplayNameFor(model => model.Projection.ProbVenta)</th>
                    <th>Consumos/Proyecciones</th>
                    <th>Kilos</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Projections != null)
                {
                    foreach (var clientes in Model.Projections)
                    {
                        <tr class="highlight-row">
                            <th scope="row" rowspan="@(clientes.rowspan)" style="width:30px">
                                @Html.DisplayFor(model => clientes.client)
                                <!--Nombre del cliente-->
                            </th>
                        </tr>
                        <!--Inside a foreach-->
                        foreach (var cliente in clientes.sales)
                        {
                            <tr class="highlight-row">
                                <td style="width:7%">
                                    @Html.DisplayFor(p => cliente.Presupuesto)
                                </td>
                                <td style="width:12%">@Html.DisplayFor(p => cliente.Producto)</td>
                                <td style="width:7%">@Html.DisplayFor(p => cliente.NumOrdem)</td>
                                <td style="width:12%">@Html.DisplayFor(p => cliente.Sustrato)</td>
                                <td>@Html.DisplayFor(p => cliente.ItemCodeSustrato)</td>
                                <td style="width:8%">@Html.DisplayFor(p => cliente.ProbVenta)%</td>
                                <td>
                                    @if (cliente.Month != null)
                                    {
                                        <ul>
                                            @foreach (var item in cliente.Month)
                                            {

                                                <li>| <strong>@item.monthName:</strong> <i>@Html.DisplayFor(p => item.value)</i> </li>
                                            }
                                        </ul>
                                    }
                                </td>
                                <td>@Html.DisplayFor(p => cliente.kg)</td>
                            </tr>
                        }
                        <!--Table holding the total of values-->
                        <tr class="sum-row">
                            <td colspan="5">Suma de @Html.DisplayFor(model => clientes.client)</td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayFor(model => clientes.totals.cantidad)</td>
                            <td>@Html.DisplayFor(model => clientes.totals.kg)</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">Fin de la lista</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<a href="#Top" class="return-top-btn">Top</a>
