@model Presupuestos.ViewModels.SessionViewModel
@using System.Globalization
<p id="Top"></p>
@{
    ViewBag.Title = "Imports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="BlackText">Carga de Sesión</h2>
<p class="BlackText">El proceso de carga traerá los últimos presupuestos que se hayan creado anteriormente</p>


@using (Html.BeginForm("Imports", "Session", FormMethod.Post, new { id = "CargarForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sesión Número @Html.DisplayFor(model => model.DocumentNumber)</h3>
        </div>
        <div class="panel-body">
            <span class="session-textbox">
                @Html.LabelFor(model => model.StartDate)
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", @id = "startDatePicker",
                Value = Model.StartDate.ToString("dd/mm/yy")})
            </span>
            <span class="session-textbox">
                @Html.LabelFor(model => model.EndDate)
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker",
                @readonly = "readonly", @id = "endDatePicker", Value = Model.StartDate.ToString("dd/mm/yy")})
            </span>
            <span class="session-button">
                <input id="uploadButton" type="submit" value="Cargar" class="btn btn-primary" autocomplete="off" 
                       onclick="loading('uploadButton')" onsubmit="loading('uploadButton')" />
            </span>
        </div>
    </div>
}
@if (Model != null)
{
    if (Model.MessageType != null)
    {
        string value = "out";
        if (Model.MessageType.TryGetValue("Success", out value))
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!Exito!</strong> @Model.MessageType["Success"]
            </div>
        }
        else if (Model.MessageType.TryGetValue("Error", out value))
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!Error!</strong> @Model.MessageType["Error"]
            </div>
        }
    }
}


<div class="form-horizontal">
    <table class="table table-condensed">
        <thead>
            <tr class="BlackText">
                <th>#</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Presupuesto)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Cliente)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Sustrato)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Ejecutivo)</th>
            </tr>
        </thead>
        <tbody style="background-color:#485563">
            
            @if (Model.Projections != null)
            {
                int counter = 1;
                foreach (var item in Model.Projections)
                {
                    <tr>
                        <th scope="row">@(counter++)</th>
                        <td>@Html.DisplayFor(m => item.Presupuesto)</td>
                        <td>@Html.DisplayFor(m => item.Cliente)</td>
                        <td>@Html.DisplayFor(m => item.Sustrato)</td>
                        <td>@Html.DisplayFor(m => item.Ejecutivo)</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="5" style="text-align:center"><b>Final de la lista</b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-12">
    <div class="text-center">
        <br />
        <a href="#Top" class="btn btn-info">Ir al inicio de la página</a>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var dateToday = new Date();
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-2:+2",
                dateFormat: 'dd/mm/yy',
            });
        })
    </script>
}
