@model Presupuestos.ViewModels.MainViewModel
@using System.Globalization
@using System.Linq
<p id="Top"></p>
@{
    ViewBag.Title = "Imports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="BlackText">Carga de Sesión</h2>
<p class="BlackText">El proceso de carga traerá los últimos presupuestos que se hayan creado anteriormente</p>


@using (Html.BeginForm("Imports", "Session", FormMethod.Post, new { id = "CargarForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sesión</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-sm-3 col-lg-offset-1">
                    <h4>Mes actual : <strong>@DateTime.Today.ToString("MMMM", CultureInfo.CreateSpecificCulture("es"))</strong></h4>
                    <input id="uploadButton" type="submit" value="Cargar" data-loading-text="Cargando..." class="btn btn-primary" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
}
@if (Model != null)
{
    if (Model.MessageType.Count != 0)
    {
        string value = "out";
        if (Model.MessageType.TryGetValue("Success", out value))
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!Exito!</strong> @Model.MessageType["Success"]
            </div>
        }
        else if (Model.MessageType.TryGetValue("Error", out value))
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!Error!</strong> @Model.MessageType["Error"]
            </div>
        }
    }
}


<div class="form-horizontal">
    <table class="table table-condensed">
        <thead>
            <tr class="BlackText">
                <th>#</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Presupuesto)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Cliente)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Sustrato)</th>
                <th>@Html.DisplayNameFor(m => Model.Projection.Ejecutivo)</th>
            </tr>
        </thead>
        <tbody style="background-color:#485563">
            
            @if (Model != null)
            {
                int counter = 1;
                foreach (var item in Model.Projections)
                {
                    <tr>
                        <th scope="row">@(counter++)</th>
                        <td>@Html.DisplayFor(m => item.Presupuesto)</td>
                        <td>@Html.DisplayFor(m => item.Cliente)</td>
                        <td>@Html.DisplayFor(m => item.Sustrato)</td>
                        <td>@Html.DisplayFor(m => item.Ejecutivo)</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="5" style="text-align:center"><b>Final de la lista</b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-12">
    <div class="text-center">
        <br />
        <a href="#Top" class="btn btn-info">Ir al inicio de la página</a>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploadButton').on('click', function () {
                var $btn = $(this).button('loading')
            })
        })
    </script>
}
