<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Page for the Commercial Department" />
    <meta http-equiv="author" content="Laureano Gabriel Sánchez Aguilar">
    <title>@ViewBag.Title - Pipeline Presupuestos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!--1A1E39-->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#CollapseNavBar">
                    <span class="sr-only">Navegar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <button class="img-responsive" type="submit" style="width:232px; height:auto; background-color:#ffffff">
                        <img src="~/Images/GrupoVargas.png" alt="Grupo Vargas S.A." title="Volver al menú principal" style="width:221px;height:auto" />
                    </button>

                }
            </div>
            <div class="navbar-collapse collapse" id="CollapseNavBar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Commercial")</li>
                    <li>@Html.ActionLink("Importar", "Imports", "Session")</li>
                    <li>@Html.ActionLink("Comparativa", "Comparative", "Session")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://intranet/gv/DefaultPage.aspx">Regresar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container body-content" style="background-color:#ffffff">
        @RenderBody()
        <hr />
        <footer class="modal-footer">
            <div class="text-center">
                <p>&copy; @DateTime.Now.Year - Grupo Vargas S.A.</p>
                <p><em>Versión 0.6</em></p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
